

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}


.main {
  background-image: url("/Users/nicoledagnenica/codecademy/broadway/resources/images/the-flatiron-building.png");
  color: white;
}

.main h1 {
  font-size: 70px;
}

.btn-nav {
  font-size: 18px;
  color: white;

}

.supporting {

}


.supporting-item {


}

.footer {
  background-color: dimgray;
  color: white;
}
